# Environment
.env

# Documentation
docs/

# Sample output
sample/

# Python
__pycache__/
*.py[cod]
*$py.class
.eggs/
*.egg-info/
*.egg
.pytest_cache/
.venv/
venv/
dist/
build/

# IDE
.vscode/
.idea/
*.swp

# Media files
*.mp4
*.ts
*.m3u8
